<div class="panel panel-default">
  <div class="panel-heading">
    Событие <%= "'#{@event.name}'" unless @event.new_record? %>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Наименование</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= @event.name %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Направление</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= @event.course_name %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Тип</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= @event.type_name %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Дата</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= l @event.event_date, format: :short %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Время</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= @event.event_time.to_s(:time)%>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Дата изменения</strong>
        </td>
        <td style="width: 80%" class="text-left">
          <%= l @event.updated_at, format: :short %>
        </td>
      </tr>
      <tr>
        <td style="width: 20%" class="text-right text-uppercase">
          <strong>Описание</strong>
        </td>
        <td class="text-left">
          <%= @event.description.html_safe %>
        </td>
      </tr>
      <% if @event.image_url %>
              <tr>
                <td style="width: 20%" class="text-right text-uppercase">
                  <strong>Изображение</strong>
                </td>
                <td style="width: 80%" class="text-left">
                  <%= image_tag @event.image_url, class: 'img-responsive' %>
                </td>
              </tr>
      <% end %>
      </tbody>
    </table>
    <div class="panel-footer text-right">
      <%= link_to t('buttons.edit'), edit_admin_event_path(@event), class: 'btn btn-default' %>
    </div>
  </div>
</div>

