<table class="table table-striped">
<% @events.each do |event| %>
      <tr>
        <td class="text-center">
          <span class="label label-info"><%= event.id %></span>
        </td>
        <td class="text-left">
          <%= link_to event.name, event_path(event) %>
        </td>
        <td class="text-left">
          <%= link_to event.event_course, event_path(event) %>
        </td>
        <td class="text-left">
          <%= link_to event.event_type, event_path(event) %>
        </td>
        <td class="text-center">
          <span class="label label-info"><%= l(event.event_date, format: :short) %></span>
        </td>
        <td class="text-center">
          <span class="label label-info"><%= event.event_time.to_s(:time) %></span>
        </td>
      </tr>
<% end %>
</table>