<table class="table table-striped">
  <% @events.each do |event| %>
      <tr>
        <td class="text-center">
          <span class="label <%= label_color(event) %>"><%= event.id %></span>
        </td>
        <td class="text-left">
          <%= link_to event.name, event_path(event) %>
        </td>
        <td class="text-left">
          <%= link_to event.course_name, events_path(course: event.event_course) %>
        </td>
        <td class="text-left">
          <%= link_to event.type_name, events_path(type: event.event_type) %>
        </td>
        <td class="text-center">
          <span class="label <%= label_color(event) %>"><%= l(event.event_date, format: :short) rescue nil %> <%= '(Завершено)' if event.finished? %></span>
        </td>
        <td class="text-center">
          <span class="label <%= label_color(event) %>"><%= event.event_time.to_s(:time) rescue nil %></span>
        </td>
      </tr>
  <% end %>
</table>
