<table class="table table-striped">
  <% @events.each do |event| %>
      <tr>
        <td class="text-center">
          <span class="label <%= event.finished? ? 'label-default' : 'label-info' %>"><%= event.id %></span>
        </td>
        <td class="text-left">
          <%= link_to event.name, event_path(event) %>
        </td>
        <% if Events.courses_support %>
          <td class="text-left">
            <%= event.courses.pluck(:name).join(', ') %>
          </td>
        <% end %>

        <td class="text-left">
          <%= event.categories.pluck(:name).join(', ') %>
        </td>
        <td class="text-center">
          <span class="label <%= event.finished? ? 'label-default' : 'label-info' %>"><%= l(event.event_date, format: :short) rescue nil %> <%= '(Завершено)' if event.finished? %></span>
        </td>
        <td class="text-center">
          <span class="label <%= event.finished? ? 'label-default' : 'label-info' %>"><%= event.event_time.to_s(:time) rescue nil %></span>
        </td>
      </tr>
  <% end %>
</table>
