<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <%= form_tag '', id: 'filters', remote: true, method: :get do %>
          <%= select_tag(:course, options_from_collection_for_select(Events::Course.order(:name), :id, :name, selected: params[:course]), { prompt: 'Все направления', class: 'form-control input-sm', required: 'true', :onchange => 'this.form.submit()'}) %>
          <%= select_tag(:category, options_from_collection_for_select(Events::Category.order(:name), :id, :name, selected: params[:category]), { prompt: 'Все категории', class: 'form-control input-sm', required: 'true', :onchange => 'this.form.submit()'}) %>
          <br/>
          <%= check_box_tag :with_finished, true, params[:with_finished], :onclick => 'this.form.submit()' %>
          &nbsp; Показывать завершенные
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <div id="events">
      <% if @events.count > 0 %>
          <%= render 'events' %>
      <% else %>
         Событий с указанными параметрами поиска не найдены
      <% end %>
    </div>
  </div>
</div>

